.app_wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.table , th,td{
    border-collapse: collapse;
    border: 1px solid black;
}

th,td{
    padding: 5px;
}